
table {
    width: 100%;
}
th.mat-sort-header-sorted {
    color: black;
}
.filterButton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
button{
	width: fit-content;
	height: 40px;
	justify-content: center;
	display: block;
	color: #fff;
	background: black;
	font-size: 1em;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
.exporting{
	display: flex;
    align-content: stretch;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
	margin-bottom: 10px;
}
.exporting button{
	color: black;
	background: transparent;
	border: grey 2px solid;
	border-radius: 1px solid black;
}
