<!-- FILEPATH: /Users/vinaybilla/Desktop/project/frontend/frontend-tracker/src/app/pages/dashboard/dashboard.component.html -->

<div class="filterButton">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
  </mat-form-field>
  <button mat-raised-button (click)="openDialog(null)">+ New Story</button>
</div>

<div class="exporting">
  <h2>Download data as : </h2>
  <button mat-raised-button (click)="exporter.exportTable('xlsx', {fileName : 'stories'})">EXCEL</button>
  <button mat-raised-button (click)="exporter.exportTable('csv', {fileName : 'stories'})">CSV</button>
  <button mat-raised-button (click)="exporter.exportTable('json', {fileName : 'stories'})">JSON</button>
  <button mat-raised-button (click)="exporter.exportTable('txt', {fileName : 'stories'})">TEXT</button>
</div>

<div class="mat-elevation-z8">
<table mat-table [dataSource]="dataSource" matSort matTableExporter #exporter="matTableExporter">

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button style="background: transparent;" (click)="openDialog(element)">
        <mat-icon style="color: black;">edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button style="background: transparent;" (click)="deleteStory(element)">
        <mat-icon style="color: red;">delete</mat-icon>
      </button>
    </td>
  </ng-container>

    <!-- storyName Column -->
    <ng-container matColumnDef="storyName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Story </th>
      <td mat-cell *matCellDef="let element"> {{element.storyName}} </td>
    </ng-container>
  
    <!-- storyDescription Column -->
    <ng-container matColumnDef="storyDescription">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.storyDescription}} </td>
    </ng-container>
  
    <!-- storyRemarks Column -->
    <ng-container matColumnDef="storyRemarks">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Remarks </th>
      <td mat-cell *matCellDef="let element"> {{element.storyRemarks}} </td>
    </ng-container>

  <!-- user Column -->
  <ng-container matColumnDef="userName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Owner </th>
    <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
  </ng-container>

  <!-- updatedDate Column -->
  <ng-container matColumnDef="updatedDate">
    <th mat-header-cell *matHeaderCellDef> Last Modified On </th>
    <td mat-cell *matCellDef="let element"> {{element.updatedDate | date : 'mediumDate'}} </td>
  </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
<mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons
  aria-label="Select page of periodic elements">
</mat-paginator>

</div>

<!-- <div class="container">
    <h1>Welcome to the Dashboard</h1>
    <p>This is a random design created by GitHub Copilot.</p>
</div>
<button mat-raised-button (click)="openDialog(null)"> 
	Pick one 
</button>  -->
