<div class="parent">
    <div class="main">  	    
            <div class="signup">
                <form [formGroup]="forgotForm">
                    <label for="chk" aria-hidden="true">Forgot Password</label>
                    <input type="email" formControlName="email" placeholder="Email">
                    <button (click)="getOTP()" *ngIf="!displayOtp">Send OTP</button>
                    <input type="number" formControlName="otp" placeholder="OTP" *ngIf="displayOtp">
                    <button (click)="confirmOTP()" *ngIf="displayOtp && !displayPassword">Submit</button>
                    <input type="password" formControlName="password" placeholder="Password" *ngIf="displayPassword">
                    <input type="password" formControlName="confirmPassword" placeholder="Confirm Password" *ngIf="displayPassword">
                    <button (click)="onResetPassword()" *ngIf="displayPassword">Reset Password</button>
                    <a routerLink="/login">Back to Login?</a>
                </form>
            </div>
    </div>
</div>
