<div class="parent">
    <form [formGroup]="storyForm">
        <div class="row">
            <div class="column">
                <h3>{{action}} Story</h3>
                <mat-form-field appearance="outline">
                    <mat-label>Story Number</mat-label>
                    <input matInput formControlName="storyNumber" placeholder="Story Number">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <input matInput formControlName="description" placeholder="Description">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Remark</mat-label>
                    <input matInput formControlName="remarks" placeholder="Remark">
                </mat-form-field>
            </div>
        </div>
    </form>

    <div class="mat-dialog-actions">
        <button mat-raised-button class="btn" (click)="onSubmit()">Submit</button>
        <button mat-raised-button class="btn" (click)="onCancel()">Cancel</button>
        <button mat-raised-button class="btn" (click)="onClear()">Clear</button>
    </div>
</div>