.row{
    display: flex  !important;
    justify-content: center !important;
}
.column {
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}
mat-form-field{
    margin-left: 0.5%;
    width: 100%;
}
button{
	width: fit-content;
	height: 40px;
	justify-content: center;
	display: block;
	color: #fff;
	background: black;
	font-size: 1em;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
button:hover{
    background: blue;
    color: greenyellow;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-prefix{
    top: 0em !important;
}
.mat-dialog-actions{
    margin: 0;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.parent{
    margin: 4%;
}