<!-- FILEPATH: /Users/vinaybilla/Desktop/project/frontend/frontend-tracker/src/app/pages/dashboard/dashboard.component.html -->

<div class="filterButton">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
    </mat-form-field>
  </div>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort matTableExporter #exporter="matTableExporter">
    
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef> Admin? </th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox class="example-margin" (change)="roleChange(element)" 
          [checked]="element.role === 'ROLE_ADMIN'"></mat-checkbox>
      </td>
    </ng-container>
  
      <!-- username Column -->
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.username}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact </th>
        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
      </ng-container>
    
      <!-- email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
  <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons
    aria-label="Select page of users">
  </mat-paginator>
  
  </div>
  