<div>
    <app-header-bar></app-header-bar>
</div>

<div class="container">
    <mat-button-toggle-group #group="matButtonToggleGroup" [value]="selectedVal" (change)="onValChange(group.value)"
        name="fontStyle" aria-label="Font Style" style="width:100%; margin:0">
        <mat-button-toggle value='stories' style="width:100%">Stories</mat-button-toggle>
        <mat-button-toggle value='users' *ngIf="isAdmin" style="width:100%">Users</mat-button-toggle>
    </mat-button-toggle-group>
    <div style="margin-top: 10px;">
        <app-users *ngIf="group.value === 'users'"></app-users>
        <app-dashboard *ngIf="group.value === 'stories'"></app-dashboard>
    </div>
</div>

<div>
    <app-footer-bar></app-footer-bar>
</div>