<div class="parent">
    <div class="main">  	    
            <div class="signup">
                <form [formGroup]="verificationForm">
                    <label for="chk" aria-hidden="true">Verify Email</label>
                    <p>Please enter the OTP received on your mail</p>
                    <input type="number" formControlName="otp" placeholder="Enter OTP">
                    <button (click)="onSubmit()">Submit</button>
                    <a routerLink="/login">Back to Login?</a>
                </form>
            </div>
    </div>
</div>
