<div class="parent">
    <div class="main">  	
        <input type="checkbox" id="chk" aria-hidden="true">
    
            <div class="signup">
                <form [formGroup]="registerForm">
                    <label for="chk" aria-hidden="true">Sign up</label>
                    <input type="text" formControlName="userName" placeholder="User name">
                    <input type="number" formControlName="number" placeholder="Contact Number" >
                    <input type="email" formControlName="userEmail" placeholder="Email">
                    <input type="password" formControlName="userPassword" placeholder="Password" >
                    <input type="password" formControlName="confirmPassword" placeholder="Confirm Password" >
                    <button (click)="onRegister()">Sign up</button>
                </form>
            </div>
    
            <div class="login">
                <form [formGroup]="loginForm">
                    <label for="chk" aria-hidden="true">Login</label>
                    <input type="email" formControlName="email" placeholder="Email">
                    <input type="password" formControlName="password" placeholder="Password" >
                    <button (click)="onLogin()">Login</button>
                    <a routerLink="/forgot-password">Forgot Password?</a>
                </form>
            </div>
    </div>
</div>
