
<header style="width: 100%; height: 10vh; background-color: lightskyblue; display: flex; align-items: center; justify-content: space-around;">
  <img src="./assets/logo.jpg" alt="Logo" style="height: 80%; margin-left: 10px;">
  <h4 *ngIf="isLoggedIn">Welcome, {{username}}</h4>
  <button mat-icon-button style="background: transparent;" (click)="logout()">
    <mat-icon style="color: rgb(255, 0, 0);">exit_to_app</mat-icon>
  </button>
</header>
