h4 {
    background: -webkit-linear-gradient(purple, black, purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  button{
    width: fit-content;
    height: 40px;
    justify-content: center;
    display: block;
    color: #fff;
    background: black;
    font-size: 1em;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
  }