
<footer style="position: fixed; bottom: 0; width: 100%; height: 10%; background-color: lightcyan; text-align: center;">
  <p style="margin-top: 10px; font-weight: bold; color: black;">&copy; GenAI Demo Application</p>
</footer>
